::-webkit-scrollbar {
  width: 0.3em;

}
::-webkit-scrollbar-track {
  background-color: #000000;
  border-radius: 10px;
  margin-block: .1 em;
}
::-webkit-scrollbar-thumb {
  background:white;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background:#ff000070;
}
body{
  background-image:
  linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('./images/ticket.jpg'); 
  background-attachment: fixed;
  overflow-x: hidden;
 }
 .menu{
  position: sticky;
  top: 0;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.842);
  padding-top: 10px;
  padding-bottom: 2px;
 }
 .menu li{
 list-style: none;
 margin-right: 40px;
 }
 .menu ul{
  margin:0;
  display:flex;
  align-items: center;
 }
 .menu div{
  display:flex;
  justify-content: space-between;
 }
 .title{
  font-size: 40px;
  color: white;
  margin: 30px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
 }
 .nav-link{
  padding: 14px 16px;
  border-bottom: 3px solid transparent;
  color: white;
  font-size: 18px;
 }
 .nav-link:hover{
  color: white;
  border-bottom: 3px solid red;
  letter-spacing: 3px;
 }
 .nav-link:focus{
  color: red;
  border-bottom: 3px solid red;
  font-weight: bolder;
 }
 .card{
   background-color: rgba(255, 255, 255, 0);
   backdrop-filter: blur(10px);
  margin: 0px 5px 100px 5px;
 }
 .card-img-top{
  width: 100%;
  cursor: pointer;
  transition: all .4s;
  background-color: rgba(255, 0, 0, 0.822);
  filter: brightness(100%);
 }
 .card-img-top:hover{
  transform: translateY(-50px);
  filter: brightness(50%);
 } 
 .card-titre{
  background-color: rgb(255, 0, 0);
  height: 47px;
  font-size: 20px;
  color: white;
  position: relative;
  bottom:48px;
  overflow-y:auto;
  z-index: -1;
 }
 .card-titre-none{
  background-color: rgb(0, 0, 0,0.8);
  height: 47px;
  font-size: 20px;
  color: white;
  position: relative;
  bottom:48px;
  z-index: 11;
  overflow-y:auto;
 }

 .add-btn {
  position: relative;
  bottom:48px;
  width: 100%;
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-weight: 700;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
 }
 .add-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: rgb(255, 0, 0);
  z-index: -1;
  transition: all 0.5s;
 }
 .add-btn:hover::before {
  width: 100%;
 }
 .add-btn:active:before {
  background: #b9b9b9;
 }
.remove-btn{
  position: relative;
  bottom:48px;
  width: 100%;
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-weight: 700;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
}
.remove-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 0, 0);
  z-index: -1;
  transition: all 0.5s;
 }
 .remove-btn:hover::before {
  width: 2%;
 }
 .cardBody{
  height: 0px;
 }
 .description{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  background-position: top center;
  background-size: cover;
 }
.description img{
  /* position: relative;
  left: 100px;
  z-index: 1; */
  width:300px;
  height: 400px;
  filter: brightness(100%);
}
.description img:hover, .description img:focus{
  transform:none;
  cursor:none;
  filter: brightness(50%);
  z-index: 0;
}
.description p{
  color: white;
  font-size: 35px;
  margin: 20px;
  background-color: #00000063;
}
.info{
  display: flex;
}
.informations{
  color: white;
  font-size: 20px;
  margin: 20px;
  background-color:#00000063;
}
.info span{
  color:#00e6f6;
  font-weight: bolder;
}
.genre,
.genre::after {
 padding: 16px 20px;
 font-size: 18px;
 background: linear-gradient(45deg, transparent 5%, #ff0000 5%);
 border: 0;
 color: #fff;
 letter-spacing: 3px;
 line-height: 1;
 box-shadow: 6px 0px 0px #00e6f6;
 outline: transparent;
 position: relative;
 margin: 10px;
}

.genre::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "HOVER ME";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff0101 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
 clip-path: var(--slice-0);
}

.genre:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}

/* From uiverse.io */
.trailer {
  position: relative;
  /* right: 150px; */
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  margin: 10px;
 }
 .trailer.learn-more {
  width: 12rem;
  height: auto;
 }
 .trailer.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #ff0000;
  border-radius: 1.625rem;
 }
 .trailer.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 .trailer.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 .trailer.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 .trailer.learn-more .trailer-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 2;
  left: 5px;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: white;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 
 .trailer:hover .circle {
  width: 100%;
 }
 
 .trailer:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }
 
 .trailer:hover .trailer-text {
  color: #fff;
  font-size: 15px;
 }
 .overlay{
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .burger{
  color:white;
  display:none;
 }
 @media (max-width: 768px) {
  .burger{
    display: block;
  }
  .menu{
    display: flex;
  }
  .menu div{
    flex-direction: column;
  }
  .menu li{
    margin: 0;   
  }
 .menu ul{
  display:flex;
  flex-direction: column;
  }
  #nav{
    justify-content: center;
    display: none;
  }
}
